In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.11/dist-packages (9.2.0)

In [ ]:
import mysql.connector

In [12]:
import mysql.connector

# Connection details
host = "database-1.c7oukemqesf4.ap-south-1.rds.amazonaws.com"
user = "lijodb"
password = "joeJOE2025"
port = 3306
database = "gradioAppUser"  # Specify your database name here if applicable

# Create connection
try:
    mydb = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        port=port,
        database=database
    )
    print("Connection to RDS instance succeeded!")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Connection to RDS instance succeeded!

In [13]:
print(mydb)
mycursor = mydb.cursor(buffered=True)
mycursor.execute("Show databases")
for x in mycursor:
  print(x)

<mysql.connector.connection.MySQLConnection object at 0x7eab98202c50>
('gradioAppUser',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [14]:
mycursor.execute("CREATE DATABASE user_logs")

In [15]:
mycursor.execute("USE user_logs")

In [16]:
mycursor.execute("""CREATE TABLE APP_USER_LOGS(Id INT AUTO_INCREMENT PRIMARY KEY,
                  Text TEXT NOT NULL,
                  Predicted_Class INT NOT NULL,
                  Negative FLOAT NOT NULL,
                  Neutral FLOAT NOT NULL,
                  Positive FLOAT NOT NULL,
                  Timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP)""")

In [19]:
mycursor.execute("select * FROM APP_USER_LOGS")
out = mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers = [i[0] for i in mycursor.description], tablefmt = 'psql'))

+------+--------+-------------------+------------+-----------+------------+-------------+--------------+
| Id   | Text   | Predicted_Class   | Negative   | Neutral   | Positive   | Timestamp   | ip_address   |
|------+--------+-------------------+------------+-----------+------------+-------------+--------------|
+------+--------+-------------------+------------+-----------+------------+-------------+--------------+

In [ ]:
mycursor.execute("""
ALTER TABLE APP_USER_LOGS
ADD COLUMN ip_address VARCHAR(45);
""")